.list {
    list-style: none;
    width: 400px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.deleteBtn {
    display: block;
    width: 100px;
}

.deleteBtn:hover {
    background-color: rgb(5, 5, 66);
    color: white;
}